body {
background: #ebebeb;
}

.header {
padding: 30px; 
border-bottom: 1px solid #ebebeb;
background: white;
}

.container {
background: white;
}

.row {
padding: 15px 0;
}

footer .container {
background: #337ab7;
}

footer p {
color: white;
}