{% extends 'layout.tpl.html' %}
{% block body %}			
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Login</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" method="post">
                <div class="form-group">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" name="user" placeholder="John" value="{{user|default:""}}" autocomplete="off" autofocus="on" tabindex="1" required />
                </div>
                 <div class="form-group">
                    <label for="pwd">User</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="123456" value="{{pwd|default:""}}" autocomplete="off"  tabindex="2" required />
                </div>
                <button type="submit" class="btn btn-primary"  tabindex="3">Login</button>
            </form>								
        </div>
        {%if message %}
        <div class="col-md-12">				
            <br />
            <div class="alert alert-danger" role="alert">{{message}}</div>				
        </div>
        {% endif %}
    </div>
    <!-- End Main Content -->
</div>
{% endblock %}