<!DOCTYPE html>
<html lang="es">
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{% block title %}Deudas{% endblock %}</title>
			<!-- Bootstrap core CSS -->
			<link href="{{basepath}}/css/bootstrap.min.css" rel="stylesheet">
			<link href="{{basepath}}/css/estilo.css" rel="stylesheet">
			{% block header %}
			{% endblock %}
			<!-- Head End -->
	</head>
	<!-- Body -->
	<body>
			<!-- Header -->       
			{% include 'header.tpl.html' %}
			<!-- Main Content -->
			{% block body %}
			{% endblock %}
			{% include 'footer.tpl.html' %}
			<!-- Bootstrap core JavaScript-->
			<script src="{{basepath}}/js/jquery.min.js"></script>
			<script src="{{basepath}}/js/bootstrap.min.js"></script>
			{% block scripts %}
			{% endblock %}
                        <script>basepath="{{basepath}}";</script>                        
	</body>
	<!-- The End -->
</html>