{% extends 'layout.tpl.html' %}
{% block body %}			
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>User</h3>
        </div>
    </div>
    <!-- End Main Content -->
</div>
{% endblock %}